<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SW API</title>
</head>
<body>
<form method="get">
    <table border=5>
        <tr>
            <th><h3>Name</h3></th>
            <th><h3>Height</h3></th>
            <th><h3>Mass</h3></th>
            <th><h3>Hair Color </h3></th>
            <th><h3>Skin Color </h3></th>
            <th><h3>Eye Color </h3></th>
            <th><h3>Birth </h3></th>
            <th><h3>Gender </h3></th>
            <th><h3>Films </h3></th>
            <th><h3>Home wold</h3></th>
            <th><h3>Vehicals</h3></th>
            <th><h3>Starships</h3></th>
            <th><h3>CREATED</h3></th>
            <th><h3>Edited</h3></th>

        </tr>
        <tr>
            <td><h4>{{data.name}}</h4></td>
            <td><h5>{{data.height}}</h5></td>
            <td><h5>{{data.mass}}</h5></td>
            <td><h5>{{data.hair_color}}</h5></td>
            <td><h5>{{data.skin_color}}</h5></td>
            <td><h5>{{data.eye_color}}</h5></td>
            <td><h5>{{data.birth_year}}</h5></td>
            <td><h5>{{data.gender}}</h5></td>
            <td>
                {% for films in data.films %}
                <a  style="text-decoration:none;" href="/films?path={{films}}" target=" "><h3>See Links</h3></a><br>
                {% endfor %}
            </td>
            <td>
                <a  style="text-decoration:none;" href="/planets?path={{data.homeworld}}" target=" "><h3>Home World</h3></a>
            </td>
            <td>
                {% for vehicles in data.vehicles %}
                <a  style="text-decoration:none;" href="/vehicles?path={{vehicles}}" target=" "><h3>Vehicles</h3></a>
                {% endfor %}
            </td>
            <td>
                {% for starships in data.starships %}
                <a  style="text-decoration:none;" href="/starships?path={{starships}}" target=" "><h3>Starship</h3></a>
                {% endfor %}
            </td>
            <td>
                <h3>{{data.created}}</h3>
            </td>
            <td>
                <h3>{{data.edited}}</h3>
            </td>
        </tr>
    </table>
</form>
</body>
</html>